# Getting Financial Data - Google Finance

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [1]:
!pip install pandas_datareader #sirve para bajarse datos

Collecting pandas_datareader
  Downloading https://files.pythonhosted.org/packages/3f/16/56c9d648b503619ebe96f726b5f642b68e299b34162ed2d6faa9d7966b7d/pandas_datareader-0.10.0-py3-none-any.whl (109kB)
Collecting lxml (from pandas_datareader)
  Downloading https://files.pythonhosted.org/packages/bf/c7/aeaabfd91e88fdc467cf53760beea0fadc872f823d7dd5786614e70bbfdf/lxml-4.9.0-cp37-cp37m-win_amd64.whl (3.6MB)
Requirement already satisfied: pandas>=0.23 in c:\users\plafu\appdata\local\programs\python\python37\lib\site-packages (from pandas_datareader) (1.3.5)
Requirement already satisfied: requests>=2.19.0 in c:\users\plafu\appdata\local\programs\python\python37\lib\site-packages (from pandas_datareader) (2.27.1)
Requirement already satisfied: numpy>=1.17.3; platform_machine != "aarch64" and platform_machine != "arm64" and python_version < "3.10" in c:\users\plafu\appdata\local\programs\python\python37\lib\site-packages (from pandas>=0.23->pandas_datareader) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\plafu\appdata\local\programs\python\python37\lib\site-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\plafu\appdata\local\programs\python\python37\lib\site-packages (from pandas>=0.23->pandas_datareader) (2022.1)
Requirement already satisfied: charset-normalizer~=2.0.0; python_version >= "3" in c:\users\plafu\appdata\local\programs\python\python37\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\plafu\appdata\local\programs\python\python37\lib\site-packages (from requests>=2.19.0->pandas_datareader) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\plafu\appdata\local\programs\python\python37\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2022.5.18.1)
Requirement already satisfied: idna<4,>=2.5; python_version >= "3" in c:\users\plafu\appdata\local\programs\python\python37\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.3)
Requirement already satisfied: six>=1.5 in c:\users\plafu\appdata\local\programs\python\python37\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas_datareader) (1.16.0)
Installing collected packages: lxml, pandas-datareader
Successfully installed lxml-4.9.0 pandas-datareader-0.10.0

You are using pip version 19.0.3, however version 22.1.2 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [2]:
import pandas as pd
from pandas_datareader import data, wb  
import datetime as dt

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is)

In [3]:
start = dt.datetime(2015, 1, 1)
end = dt.datetime.today()

datetime.datetime(2015, 1, 1, 0, 0)

In [5]:
start

datetime.datetime(2015, 1, 1, 0, 0)

In [4]:
end

datetime.datetime(2022, 6, 11, 9, 59, 31, 713827)

In [6]:
#nos da la hora utc del dia corriente, nos servirá para obtener el momento exacto.
#Es muy útil en el caso de corregir mercados 
dt.datetime.utcnow()

datetime.datetime(2022, 6, 11, 8, 1, 13, 178903)

### Step 3. Select the Apple, Tesla, Twitter, IBM, LinkedIn stocks symbols and assign them to a variable called stocks

In [7]:
stocks = ['AAPL', 'TSLA', 'IBM', 'LNKD']

### Step 4. Read the data from google, assign to df and print it

In [9]:
df = data.DataReader(stocks, "yahoo", start, end)
#print(df)
df

c:\Users\plafu\AppData\Local\Programs\Python\Python37\lib\site-packages\pandas_datareader\base.py:272: SymbolWarning: Failed to read symbol: 'LNKD', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)

Attributes   Adj Close                                    Close              \
Symbols           AAPL        TSLA         IBM LNKD        AAPL        TSLA
Date
2015-01-02   24.678246   43.862000  112.178078  NaN   27.332500   43.862000
2015-01-05   23.983023   42.018002  110.412979  NaN   26.562500   42.018002
2015-01-06   23.985283   42.256001  108.031815  NaN   26.565001   42.256001
2015-01-07   24.321604   42.189999  107.325737  NaN   26.937500   42.189999
2015-01-08   25.256104   42.124001  109.658478  NaN   27.972500   42.124001
...                ...         ...         ...  ...         ...         ...
2022-06-06  146.139999  714.840027  142.880005  NaN  146.139999  714.840027
2022-06-07  148.710007  716.659973  142.779999  NaN  148.710007  716.659973
2022-06-08  147.960007  725.599976  140.830002  NaN  147.960007  725.599976
2022-06-09  142.639999  719.119995  137.960007  NaN  142.639999  719.119995
2022-06-10  137.130005  696.690002  136.190002  NaN  137.130005  696.690002

Attributes                         High              ...         Low       \
Symbols            IBM LNKD        AAPL        TSLA  ...         IBM LNKD
Date                                                 ...
2015-01-02  154.933075  NaN   27.860001   44.650002  ...  153.919693  NaN
2015-01-05  152.495224  NaN   27.162500   43.299999  ...  152.189301  NaN
2015-01-06  149.206497  NaN   26.857500   42.840000  ...  148.346085  NaN
2015-01-07  148.231354  NaN   27.049999   42.956001  ...  147.256210  NaN
2015-01-08  151.453156  NaN   28.037500   42.759998  ...  148.709366  NaN
...                ...  ...         ...         ...  ...         ...  ...
2022-06-06  142.880005  NaN  148.570007  734.599976  ...  142.000000  NaN
2022-06-07  142.779999  NaN  149.000000  719.989990  ...  140.960007  NaN
2022-06-08  140.830002  NaN  149.869995  749.890015  ...  140.149994  NaN
2022-06-09  137.960007  NaN  147.949997  766.640015  ...  137.929993  NaN
2022-06-10  136.190002  NaN  140.759995  718.500000  ...  135.250000  NaN

Attributes        Open                                    Volume              \
Symbols           AAPL        TSLA         IBM LNKD         AAPL        TSLA
Date
2015-01-02   27.847500   44.574001  154.216064  NaN  212818400.0  23822000.0
2015-01-05   27.072500   42.910000  154.177826  NaN  257142000.0  26842500.0
2015-01-06   26.635000   42.012001  152.648178  NaN  263188400.0  31309500.0
2015-01-07   26.799999   42.669998  150.286804  NaN  160423600.0  14842000.0
2015-01-08   27.307501   42.562000  149.369019  NaN  237458000.0  17212500.0
...                ...         ...         ...  ...          ...         ...
2022-06-06  147.029999  733.059998  142.979996  NaN   71598400.0  28068200.0
2022-06-07  144.350006  702.000000  142.600006  NaN   67808200.0  24269500.0
2022-06-08  148.580002  720.260010  142.070007  NaN   53950200.0  25403500.0
2022-06-09  147.080002  748.020020  140.149994  NaN   69473000.0  32163800.0
2022-06-10  140.279999  705.469971  137.800003  NaN   91437900.0  32512200.0

Attributes
Symbols           IBM LNKD
Date
2015-01-02  5779673.0  NaN
2015-01-05  5104898.0  NaN
2015-01-06  6429448.0  NaN
2015-01-07  4918083.0  NaN
2015-01-08  4431693.0  NaN
...               ...  ...
2022-06-06  4766900.0  NaN
2022-06-07  2887100.0  NaN
2022-06-08  3005700.0  NaN
2022-06-09  3591000.0  NaN
2022-06-10  4659500.0  NaN

[1874 rows x 24 columns]

### Step 5.  What is the type of structure of df ?

In [7]:
type(df)

pandas.core.frame.DataFrame

### Step 6. Print all the Items axis values
#### To learn more about the Panel structure go to [documentation](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#panel)

In [8]:
df.items #nos da los items

<bound method DataFrame.items of Attributes   Adj Close                                    Close              \
Symbols           AAPL        TSLA         IBM LNKD        AAPL        TSLA
Date
2015-01-02   24.678253   43.862000  112.178085  NaN   27.332500   43.862000
2015-01-05   23.983021   42.018002  110.412979  NaN   26.562500   42.018002
2015-01-06   23.985285   42.256001  108.031799  NaN   26.565001   42.256001
2015-01-07   24.321609   42.189999  107.325752  NaN   26.937500   42.189999
2015-01-08   25.256100   42.124001  109.658485  NaN   27.972500   42.124001
...                ...         ...         ...  ...         ...         ...
2022-06-06  146.139999  714.840027  142.880005  NaN  146.139999  714.840027
2022-06-07  148.710007  716.659973  142.779999  NaN  148.710007  716.659973
2022-06-08  147.960007  725.599976  140.830002  NaN  147.960007  725.599976
2022-06-09  142.639999  719.119995  137.960007  NaN  142.639999  719.119995
2022-06-10  138.119995  697.960022  136.914993  NaN  138.119995  697.960022

Attributes                         High              ...         Low       \
Symbols            IBM LNKD        AAPL        TSLA  ...         IBM LNKD
Date                                                 ...
2015-01-02  154.933075  NaN   27.860001   44.650002  ...  153.919693  NaN
2015-01-05  152.495224  NaN   27.162500   43.299999  ...  152.189301  NaN
2015-01-06  149.206497  NaN   26.857500   42.840000  ...  148.346085  NaN
2015-01-07  148.231354  NaN   27.049999   42.956001  ...  147.256210  NaN
2015-01-08  151.453156  NaN   28.037500   42.759998  ...  148.709366  NaN
...                ...  ...         ...         ...  ...         ...  ...
2022-06-06  142.880005  NaN  148.570007  734.599976  ...  142.000000  NaN
2022-06-07  142.779999  NaN  149.000000  719.989990  ...  140.960007  NaN
2022-06-08  140.830002  NaN  149.869995  749.890015  ...  140.149994  NaN
2022-06-09  137.960007  NaN  147.949997  766.640015  ...  137.929993  NaN
2022-06-10  136.914993  NaN  140.759995  718.500000  ...  135.259995  NaN

Attributes        Open                                    Volume              \
Symbols           AAPL        TSLA         IBM LNKD         AAPL        TSLA
Date
2015-01-02   27.847500   44.574001  154.216064  NaN  212818400.0  23822000.0
2015-01-05   27.072500   42.910000  154.177826  NaN  257142000.0  26842500.0
2015-01-06   26.635000   42.012001  152.648178  NaN  263188400.0  31309500.0
2015-01-07   26.799999   42.669998  150.286804  NaN  160423600.0  14842000.0
2015-01-08   27.307501   42.562000  149.369019  NaN  237458000.0  17212500.0
...                ...         ...         ...  ...          ...         ...
2022-06-06  147.029999  733.059998  142.979996  NaN   71598400.0  28068200.0
2022-06-07  144.350006  702.000000  142.600006  NaN   67808200.0  24269500.0
2022-06-08  148.580002  720.260010  142.070007  NaN   53950200.0  25403500.0
2022-06-09  147.080002  748.020020  140.149994  NaN   69473000.0  32163800.0
2022-06-10  140.279999  705.469971  137.800003  NaN   71303967.0  29035643.0

Attributes
Symbols           IBM LNKD
Date
2015-01-02  5779673.0  NaN
2015-01-05  5104898.0  NaN
2015-01-06  6429448.0  NaN
2015-01-07  4918083.0  NaN
2015-01-08  4431693.0  NaN
...               ...  ...
2022-06-06  4766900.0  NaN
2022-06-07  2887100.0  NaN
2022-06-08  3005700.0  NaN
2022-06-09  3591000.0  NaN
2022-06-10  3413844.0  NaN

[1874 rows x 24 columns]>

### Step 7. Good, now we know  the data avaiable. Create a dataFrame called vol, with the Volume values.

In [16]:
vol = df['Volume'] #creamos un mini data frame de dos dimensiones 
vol.head(5)

Symbols            AAPL        TSLA        IBM  LNKD
Date
2015-01-02  212818400.0  23822000.0  5779673.0   NaN
2015-01-05  257142000.0  26842500.0  5104898.0   NaN
2015-01-06  263188400.0  31309500.0  6429448.0   NaN
2015-01-07  160423600.0  14842000.0  4918083.0   NaN
2015-01-08  237458000.0  17212500.0  4431693.0   NaN

### Step 8. Aggregate the data of Volume to weekly
#### Hint: Be careful to not sum data from the same week of 2015 and other years.

In [12]:
#vol.index.week #lo podemos hacer semanal
#vol.index.year

In [17]:
#creamos dos nuevas columnas de año y semana
vol['week'] = vol.index.week 
vol['year'] = vol.index.year

#las agrupamos conjuntamente 
week = vol.groupby(['week','year']).sum()
week.head()

c:\Users\plafu\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series.  To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)

c:\Users\plafu\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

c:\Users\plafu\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

Symbols            AAPL         TSLA         IBM  LNKD
week year
1    2015  2.128184e+08   23822000.0   5779673.0   0.0
     2016  1.375161e+09  104877000.0  26415265.0   0.0
     2017  4.153820e+08  142882000.0  12492901.0   0.0
     2018  5.446876e+08  148567500.0  32822330.0   0.0
     2019  9.927560e+08  244450000.0  21924996.0   0.0

### Step 9. Find all the volume traded in the year of 2015

In [18]:
vol['year'] = vol.index.year

year = vol.groupby(['year']).sum().loc[2015]
year

c:\Users\plafu\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Symbols
AAPL    5.226420e+10
TSLA    5.441089e+09
IBM     1.156439e+09
LNKD    0.000000e+00
week    6.886000e+03
Name: 2015, dtype: float64

In [19]:
#otra manera de hacerlo más sencilla

vol.loc["2015"].sum()

Symbols
AAPL    5.226420e+10
TSLA    5.441089e+09
IBM     1.156439e+09
LNKD    0.000000e+00
week    6.886000e+03
year    5.077800e+05
dtype: float64